Repository MatthewFuchs/Ogopogo-Tech, pull requests merged in 2024-04, with the labels that each got.

#123 90 implement file storage for assignment submissions 1
  backend/app.js
  backend/routes/assignmentRoutes.js
  frontend/upload-test.html
  package.json
Labels: back_end, Assignment Management

#137 added teacher registration and admin enrollment links
  backend/controller/userController.js
  backend/models/userModel.js
  backend/routes/userRoutes.js
  frontend/admin-enrollments.html
  frontend/assignments-list-student.html
  frontend/course-detail.html
  frontend/courses.html
  frontend/css/profile.css
  frontend/index.html
  frontend/log-in.html
  frontend/profile.html
  frontend/scripts/profile.js
  frontend/scripts/update-user.js
  frontend/sign-up.html
Labels: enhancement

#140 Create log-out.html
  frontend/log-out.html
Labels: front_end
